/*-------------------------------------
    
	Author: Sporteyz 
	Copyright © 2019
	
---------------------------------------
    
    CSS INDEX
    ===================
	
    1. BODY
	2. CUSTOM CSS / A
	3. PRELOADER
	4. hs_btn_wrapper
	5. ft_logo_wrapper
	6. slider-area
	7. next_match_wrapper
	8. upcoming_match_wrapper 
	9. latest_result_wrapper
	10. upcoming_games_wrapper
	11. best_player_wrapper
	12. portfolio_grid
	13. counter_section
	14. latest_news_wraper
	15. official_store
	16. footer_wrapper

---------------------------------------*/
/*--------------
1.Theme default CSS
--------------------------*/
body, html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #444;
	width:100%;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	background:#fff;
	overflow-X:hidden;
	position:relative;
	z-index:1;
}
a {
	cursor:pointer;
	color: #444;
	text-decoration: none;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover, a:focus {
	cursor:pointer;
	text-decoration: none;
	outline: none;
	color:#111;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
	line-height: 1.1;
	font-weight:400;
	color: #111111;
	margin:0;
	padding:0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color: #111111;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a{
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
p{
	margin:0;
}
input, select, button, textarea {
	outline: none;
}
input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
	box-shadow:none;
}
ul{
	list-style:none;
	margin:0;
	padding:0;
}
.float_left{
	float:left;
	width:100%;
}
/*-- cursor css start --*/
* {
	cursor: none;
}
.cursor {
    --size: 10px;
    height: var(--size);
    width:  var(--size);
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor.cursor-shadow {
    background-color: transparent;
    border: 3px solid #313393;
    --size: 40px;
}
.cursor.cursor-dot {
    background: #111;
    transition: width .2s, height .2s;
}
.cursor-shadow.active {
    --size: 40px;
    border-color: #313393;
    background-color: #313393;
}
.cursor-dot.active {
	  --size: 0;
}
a {
	  cursor: none;
}
a:hover {
  	text-decoration: none;
	cursor:pointer;
}
/*-- Button css start --*/
.hs_btn_wrapper li a {
	float: left;
	width: 140px;
	height:40px;
	font-size:17px;
	text-transform:capitalize;
	display: block;
	font-weight:500;
	text-align:center;
	line-height:35px;
	background:#fff;
	color:#313393;
	position:relative;
	border:2px solid #fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hocky_btn{
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    z-index: 2;
    text-align: center;
    height: 40px;
	font-size:17px;
    line-height: 35px;
    width: 140px;
	border:2px solid #fff;
	color:#313393;
    overflow: hidden;
    background: #fff;
    transition: all 0.5s ease;
}
.hs_btn_wrapper li a:hover {
    background: transparent;
    border: 2px solid #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hocky_btn .btn-front {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: all 0.4s ease;
}
.hocky_btn .btn-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(4);
    transition: all 0.4s ease;
    opacity: 0;
}
.hocky_btn:hover .btn-front {
    transform: scale(0);
    color: #fff;
    background: transparent;
}
.hocky_btn:hover .btn-back {
    transform: scale(1);
    opacity: 1;
    color: #fff;
    background: transparent;
}
.hocky_btn:hover{
	background:transparent;
}
.ckeck_btn{
	 color: #fff;
    background: #313393;
}
.ckeck_btn:hover .btn-back {
    transform: scale(1);
    opacity: 1;
	color:#313393;
    background: transparent;
}
.ckeck_btn:hover{
	color:#313393;
    background: transparent;
    border: 2px solid #313393;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/*-- Preloader css start --*/
#preloader {
	background-color: #172027;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
	width: 100%;
	height: 100%;
}
#status {
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#return-to-top {
    position: fixed;
    bottom: 53px;
    right: 30px;
    background: #313393;
    width: 45px;
    height: 45px;
    display: block;
    text-decoration: none;
	box-shadow:0px 5px 30px rgba(0,0,0,0.1);
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:1000;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 14px;
    top: 8px;
    font-size: 26px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover i {
    color: #fff;
    top: 10px;
}
/*-- kv navi wrapper Start --*/
.ft_logo_wrapper{
	float: left;
    width: 40%;
    padding-left: 40px;
    padding-top: 40px;
}
.cc_cart_cont_wrapper h4 a{
	text-transform:capitalize;
	font-size:18px;
	color:#111;
	cursor:pointer;
}
.cc_cart_cont_wrapper p{
	font-size:14px;
	color:#777;
}
.menu_main_wrapper:after{
	content: '';
    position: absolute;
    border-top: 150px solid #05955a;
    left: 0;
    right: 0;
    bottom: -70px;
    margin: 0px auto;
    border-bottom-left-radius: 130%;
    border-bottom-right-radius: 130%;
    z-index: -1;
}
.ft_middle_wrapper {
    float: left;
    width: 20%;
}
.ft_right_wrapper{
	padding-top: 40px;
    padding-right: 40px;
    float: left;
    width: 40%;
}
.menu_main_wrapper{
	position:absolute;
	float:left;
	width:auto;
	top:335px;
	left:80px;
}
.menu_wrapper_2{
    float:left;
    list-style:none;
    margin: 0;
    padding: 0;
    width: 160px;
	float:left;
	background:#fff;
	position:relative;
	padding-top:50px;
}
.menu_wrapper_2:before {
    content: '';
    position: absolute;
    border-top: 107px solid #fff;
    left: 0;
    right: 0;
    bottom: -84px;
    margin: 0px auto;
    border-bottom-left-radius: 130%;
    border-bottom-right-radius: 130%;
}
.menu_wrapper_2 li a:hover {
    color: #fff;
    background: #313393;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.menu_wrapper_2 li a {
    color: #111;
    float: left;
    font-size: 16px;
    font-weight: 500;
	text-transform:capitalize;
	text-align:center;
    position: relative;
    line-height: 25px;
    padding: 11px 5px;
    width: 100%;
	  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	border-bottom:1px solid rgba(101, 173, 67, 0.41);
}
.ft_middle_wrapper a{
	float:left;
	width:100%;
	text-align:center;
	padding-top:35px;
}
.ft_middle_wrapper a img{
	cursor:pointer;
}
.slicknav_menu {
    display: none;
}
.hs_navi_searchbar_wrapper{
	float:left;
	width:calc(100% - 30px);
	margin-top: 17px;
}
.cc_cart_wrapper1 .close{
	opacity:1;
	position:absolute;
	top:13px;
	right:0;
}
.cc_cart_wrapper1 .close:hover{
	color:#313393 !important;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_navi_cart_wrapper .menu-button{
	position:relative;
	margin-top:12px;
	padding-bottom:30px;
}
.hs_navi_cart_wrapper .drop-menu{
	top: 100%;
    right: 0;
    width: 342px;
}
.hs_navi_cart_wrapper a i:before{
	color:#fff;
	margin-left:0;
}
.hs_navi_cart_wrapper .dropdown-wrapper:hover > .menu-button{
	background:transparent;
}
.hs_navi_cart_wrapper:hover > .menu-button{
	background:transparent;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_navi_cart_wrapper a i{
	position:relative;
}
.hs_navi_cart_wrapper a span{
	    width: 15px;
    height: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #f93e11;
    text-align: center;
    line-height: 15px;
    float: left;
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
}
.cc_cart_img_wrapper{
	float:left;
	width:auto;
	padding-right:25px;
}
.drop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: max-height .4s, opacity .3s;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position:absolute;
  padding:20px;
  padding-top:10px;
  padding-bottom:0;
  background:#fff !important;
  box-shadow:0px 3px 15px 0 rgba(0, 0, 0, 0.1);
}
.drop-menu > .menu-button {
  height: 100%;
  transition: transform .4s;
  transform: translateY(-300%);
  background: #fff;
  float: left;
   width: 100%;	
}
.drop-menu > .menu-button:hover .cc_cart_cont_wrapper h4 a{
  color: #313393; 
      -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.dropdown-wrapper .drop-menu{
	width:350px;
}
.dropdown-wrapper:hover .drop-menu{
  max-height: 500px;  
  opacity: 1;
  z-index: 1000;
}
.dropdown-wrapper:hover > .drop-menu .menu-button {
  transform: translateY(0%); 
  padding-bottom:25px;
}
.ft_right_wrapper ul{
	float:right;
}
.ft_right_wrapper li{
	float:left;
	padding-left:30px;
}
.cart_wrapper h2{
	text-transform:capitalize;
	font-size:18px;
	color:#111;
	font-weight:500;
	line-height:24px;
	display:inline-block;
}
.hs_btn_wrapper  ul li{
	padding-left:0;
}
.cart_btn{
	float:right;
	width:138px;
	top:-7px;
}
.cart_btn li a{
	width:150px;
	height:45px;
	line-height:45px;
}
.ft_navi_main_wrapper {
	float:left;
	width:100%;
	position:relative;
	z-index:1;
}
.ft_right_wrapper .select2-container--default .select2-selection--single{
	background:transparent;
	border:0;
}
.ft_right_wrapper .select2-container--default .select2-selection--single:focus{
	outline:none;
}
.ft_right_wrapper .select2-container--default .select2-selection--single .select2-selection__rendered{
	color:#fff;
	text-transform:capitalize !important;
	line-height: 45px;
	padding-right:0;
	font-weight:600;
	font-size:17px;
}
.ft_right_wrapper .language{
	position:relative;
}
.ft_right_wrapper .language img{
	position: absolute;
    left: 10px;
    top: 16px;
}
.language .select2-container--default .select2-selection--single .select2-selection__arrow{
	right:-5px;
	height:42px !important;
}
.ft_right_wrapper .select2-container {
    width: 50px !important;
}
.lv_search_box input{
	width:180px;
	float:left;
	height:50px;
	position:relative;
	border:0;
	padding-left:30px;
	border-left:2px solid #f2f2f2;
	box-shadow:0px 3px 15px 0 rgba(0, 0, 0, 0.06);
}
.lv_search_box button{
	width:40px;
	float:left;
	height:50px;
	background:#ffffff;
	border:none;
	position:relative;
	padding-right: 0;
	cursor:pointer;
	box-shadow:0px 3px 15px 0 rgba(0, 0, 0, 0.06);
}
.lv_search_box button i{
	position:relative;
	right:20px;
}
.menu_toggle{
   display:inline-block;
    text-align: center;
    padding: 0px;
	width:40px;
	position:relative;
	z-index:1;
	height:40px;
	line-height:50px;
	background:#fff;
	border-radius:50px;
    cursor: pointer;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.menu_toggle i:before{
	font-size:24px;
	margin-top:3px;
	color:#313393;
}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
	 transform:rotate(0deg);
}
.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.menu_dropdown{
    position: absolute;
    top: 0;
	left:0;
    display: inline-block;
    border-radius: 0px;
    background-color: #313393;
    display: none;
}
.menu_dropdown input{
    float: left;
    width: calc(100% - 45px);
    padding: 0px 10px;
    height: 45px;
    border: 1px solid #e1e1e1;
    border-right: 0px;
}
.menu_dropdown button{
    width: 45px;
    height: 45px;
    border: 1px solid #e1e1e1;
    border-left: none;
    background-color: #ffffff;
    text-align: center;
    padding: 0px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.menu_dropdown button:hover{
	color:#ffffff;
	background:#313393;
	border-color:#313393;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.resp_menu{
	position:relative;
	float:left;
	width:100%;
	top:15px;
}
.menu_wrapper{
    text-align: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 160px;
	background:transparent;
	position:relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-bottom: 0;
	padding-top:45px;
}
.menu_dropdown:before {
    content: '';
    position: absolute;
    border-top: 150px solid #313393;
    left: 0;
    right: 0;
    bottom: -80px;
    margin: 0px auto;
    border-bottom-left-radius: 130%;
    border-bottom-right-radius: 130%;
    z-index: -1;
}
.menu_wrapper_resp:before{
	border-top:107px solid transparent;
}
.menu_wrapper_resp .common_dropdown_wrapper a i{
	color:#fff;
}
.menu_wrapper_resp .common_dropdown_wrapper li:last-child a{
	border-bottom:0 !important;
}
.menu_wrapper_resp li ul{
	background:#313393 !important;
}
.resp_menu li a:hover {
    color: #313393;
    background: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.resp_menu li a {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 500;
	text-transform:capitalize;
	text-align:center;
    position: relative;
    line-height: 25px;
    padding: 11px 5px;
    width: 100%;
	border-bottom:1px solid rgba(255, 255, 255, 0.5);
	  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.resp_logo_wrapper{
	float:left;
	background:#313393;
	text-align:center;
	position:relative;
	padding:30px 0;
	width:160px;
	padding-bottom:0;
}
.resp_logo_wrapper:after{
	content: '';
    position: absolute;
    border-top: 129px solid #313393;
    left: 0;
    right: 0;
    bottom: -55px;
    margin: 0px auto;
    border-bottom-left-radius: 130%;
    border-bottom-right-radius: 130%;
    z-index: -1;
}
/*-- ft navi wrapper End --*/
/*-- slider wrapper start --*/
.slider-area{
	float:left;
	width:100%;
	position:relative;
	margin-top:-191px;
}
.forcefullwidth_wrapper_tp_banner, #rev_slider_149_1_wrapper, #rev_slider_149_1{
	height:1000px !important;
}
/*-- next match wrapper css--*/
.next_match_wrapper{
	position:relative;
	margin-top:-100px;
	z-index:1;
	background:#fff;
	padding:40px;
	padding-bottom:30px;
	box-shadow:0px 3px 15px 0 rgba(0, 0, 0, 0.04)
}
.next_match_count{
	padding-top:30px;
	position:relative;
	text-align:center;
}
.new a span{
	color:#fff;
	font-size:20px;	
	text-align:center;
}
.new {
    display: inline-block;
    width: 50px;
    height: 50px;
	margin-top:20px;
    position: relative;
	text-align:center;
    line-height: 50px;
    background: #313393;
    border-radius: 100px;
	  -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.upcoming_matches_section .versus {
	padding-top: 100px;
    text-align: center;
    color: #111;
}
.upcoming_matches_section .versus span{
	display: block;
    font-size: 24px;
    line-height: 34px;
}
.upcoming_matches_section .versus h1{
	color: #111;
	font-size:22px;
	font-weight:500;
	text-transform:uppercase;
	margin-top:30px;
}
.upcoming_matches_section .versus .new{
	display: inline-block;
    padding: 0px 13px;
    position: relative;
    margin-bottom: 10px;
}
.upcoming_matches_section .versus .new span{
	position: relative;
    color: #fff;
    font-size: 17px;
}
.match_venue{
	color:#111;
}
.upcoming_matches_wrapper{
	text-align:center;
}
.match_list_img h4{
	text-transform: uppercase;
    font-size: 24px;
    padding-top: 10px;
    color: #111;
    line-height: 70px;
    padding-right: 60px;
}
.match_list_img img{
	float:right;
}
.match_wraper_2 .match_list_img img{
	float:left;
}
#clockdiv{
    float: left;
    width: 100%;
    color: #fff;
    display: inline-block;
}
#clockdiv > div{
    display: inline-block;
    margin: 0px 10px;
    height:80px;
    width: 90px;
	font-size:50px;
	font-weight:700;
	padding-top:14px;
	color:#313393;
	text-align:center;
}
#clockdiv div > span{
    float: left;
    width: 100%;
	font-weight:300;
}
.smalltext{
    float: left;
    width: 100%;
    padding-top: 15px;
    font-size: 16px;
    color: #777;
	text-transform:uppercase;
	font-weight:400;
}
.match_btn li a{
	width:150px;
}
.match_btn{
	text-align:center;
}
.match_btn ul{
	display:inline-block;
}
/*** next match wrapper css ***/
.upcoming_match_wrapper {
	background:#f2f2f2;
	padding-top:260px;
	padding-bottom:80px;
	position:relative;
	margin-top:-175px;
}
.heading_left{
	text-align: left;
    width: 100%;
	padding-bottom:50px;
}
.heading_left h1{
	margin: 0px 0px 0px 0px;
    color: #111;
    font-size: 28px;
    font-weight: 500;
	position:relative;
    text-transform: capitalize;
	z-index:1;
}
.heading_left h1:after {
    content: '';
    position: absolute;
    /* left: 34px; */
    left: 46%;
    bottom: -16px;
    height: 2px;
    background: #313393;
    width: 90px;
}
/****------next match wrapper css-------****/
.next_match_new{
	width: 100%;
    float: left;
    background-image: url(../images/chess/next_match.jpg);
    height: 100%;
    background-position: center 0;
    background-size: cover;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.next_match_overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(29, 29, 29, 0.85);
}
.heading_white{
	text-align:center;
}
.heading_white h1{
	color:#fff;
}
.heading_white h1:after{
	display:none;
}
/****-----latest result wrapper css-------***/
.latest_result_wrapper {
	background:#fff;
}
.prs_upcom_movie_img_box{
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
}
.prs_upcom_movie_img_box img{
	width:100%;
}
.news_top_icon:hover{
	color:#fff;
}
.slider_bx_btn{
	display: inline-block;
    position: absolute;
    top: 42%;
    left: 0;
	right:0;
	margin:0px auto;
	margin-left:-900px;
}
.slider_bx_btn li a{
	margin-left:-900px;
	-webkit-transition:all 0.45s linear;
    -moz-transition:all 0.45s linear;
    -ms-transition:all 0.45s linear;
    -o-transition:all 0.45s linear;
    transition:all 0.45s linear;
}
.prs_upcom_movie_box_wrapper:hover .slider_bx_btn li a{
	margin-left:0;
	-webkit-transition:all 0.45s linear;
    -moz-transition:all 0.45s linear;
    -ms-transition:all 0.45s linear;
    -o-transition:all 0.45s linear;
    transition:all 0.45s linear;
}
.prs_upcom_movie_box_wrapper:hover .slider_bx_btn{
	margin-left:0;
	left:130px;
	-webkit-transition:all 0.45s linear;
    -moz-transition:all 0.45s linear;
    -ms-transition:all 0.45s linear;
    -o-transition:all 0.45s linear;
    transition:all 0.45s linear;
}
.prs_upcom_movie_img_overlay{
	position:absolute;
	top:200px;
	right:200px;
	left:200px;
	bottom:200px;
	background:rgba(0,0,0,0.06);
	opacity:0;
	-webkit-transition:all 0.55s linear;
    -moz-transition:all 0.55s linear;
    -ms-transition:all 0.55s linear;
    -o-transition:all 0.55s linear;
    transition:all 0.55s linear;
}
.prs_upcom_movie_box_wrapper:hover .prs_upcom_movie_img_overlay{
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:rgba(19, 19, 19, 0.8);
	opacity:1;
	-webkit-transition:all 0.35s linear;
    -moz-transition:all 0.35s linear;
    -ms-transition:all 0.35s linear;
    -o-transition:all 0.35s linear;
    transition:all 0.35s linear;
}
.prs_upcom_movie_img_box_overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(79, 146, 48, 0.7);
}
.prs_upcom_movie_box_wrapper .match_result{
	color:#fff;
	font-size:16px;
	text-align:center;
	text-transform:capitalize;
	position:absolute;
	left:0;
	right:0;
	font-weight:300;
	top:42%;
	line-height:20px;
}
.match_result span{
	padding:0 10px;
}
.prs_upcom_movie_box_wrapper:hover .match_result{
	z-index:-1;
	-webkit-transition:all 0.35s linear;
    -moz-transition:all 0.35s linear;
    -ms-transition:all 0.35s linear;
    -o-transition:all 0.35s linear;
    transition:all 0.35s linear;
}
/* upcoming games wrapper css */
.upcoming_games_wrapper {
	background:#f2f2f2;
	padding-bottom:100px;
}
.upcoming_slider_wrapper .match_list_img img{
	width:auto !important;
	display:inline-block;
}
.tg-upcomingmatch{
	width:100%;
	float:left;
}
.upcoming_match_img  img{
	width:100%;
}
.tg-upcomingmatch .tg-match {
	padding:0;
	overflow:hidden;
	position:relative;
	padding-bottom:22px;
}
.tg-upcomingmatch .tg-box h4{
	display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 12px;
    position: relative;
    text-align: center;
    line-height: 50px;
    background: #313393;
    font-size: 24px;
    color: #fff;
    border-radius: 100px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.tg-matchdetail{
	width:100%;
	float:left;
	padding:10px;
	z-index:1;
	position:relative;
	background:#fff;
	padding-bottom:16px;
}
.tg-matchhover{
	top:0;
	left:0;
	z-index:2;
	width:100%;
	padding:33px 20px 21px 30px;
	position:absolute;
	background:#313393;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tg-upcomingmatch .tg-match:hover .tg-matchhover{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	 -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.tg-matchhover address{
	width:180px;
	float:left;
	margin:5px 0;
	color:#fff;
	text-transform:capitalize;
	font-style:normal;
}
.tg-teamlogo{
	float:left;
	padding-right:8px;
}
.tg-matchhover .tg-btnbox{
	overflow:hidden;
	float:right;
	width:auto;
	position:relative;
}
.tg-upcomingmatch .tg-matchdetail .tg-box h3{
	font-size:20px;
	color:#111;
	text-transform:uppercase;
	height:70px;
	/* line-height:75px; */
}
.tg-upcomingmatch .tg-match .tg-box{width:20%;}
.tg-match .tg-box:first-child {
    text-align: left;
}
.tg-box {
    width: 100%;
    float: left;
    position: relative;
	text-align:center;
}
.tg-upcomingmatch .tg-match .tg-box:last-child, .tg-upcomingmatch .tg-match .tg-box:first-child {
    width: 40%;
}
.tg-match .tg-box:last-child {
    text-align: right;
}
.tg-teamlogo2{
	float:right;
	padding-left:15px;
}
.next_macth_pader{
	padding:0 200px 0 200px;
}
.tg-btnbox .match_btn ul li{
	float:left;
	padding:8px;
}
.next_match_deatils{
	float:left;
	width:100%;
	position:relative;
	z-index:1;
	padding-bottom:0;
}
.next_macth_pader .tg-match{
	padding-bottom:0;
}
.next_box{
	background:#fff;
	padding:20px;
	text-align:center !important;
}
.next_box h3{
	font-size:20px !important;
	text-transform:uppercase;
	line-height:70px;
	display:inline-block;
}
.next_box .tg-teamlogo{
	display:inline-block;
	float:none;
}
.next_box .tg-teamlogo2{
	padding-left:0;
	padding-right:20px;
}
.next_box_green{
	background:#313393;
	padding:20px;
	color:#fff;
	text-align:center;
	width:30% !important;
}
.next_box_green h4{
	width:auto !important;
	height:auto !important;
	line-height:22px !important;
	font-size:18px !important;
	font-family:'Lato', sans-serif !important;
}
.next_box{
	width:35% !important;
}
/***-----player wrapper css-----***/
.best_player_wrapper {
	background:#fff;
	padding-bottom:100px;
	padding-top:100px;
}
.tg-players{
	width:100%;
	float:left;
	height:466px;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.mCSB_inside > .mCSB_container{ margin-right:10px;}
.mCSB_scrollTools{ width:6px;}
.mCSB_scrollTools .mCSB_draggerRail{
	margin:0;
	width:6px;
	opacity:1;
	border-radius:0;
	background:#f7f7f7;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	margin:0;
	opacity:1;
	border-radius:0;
	background-color:#373542;
	 -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.tg-player{
	width:100%;
	float:left;
	height:150px;
	overflow:hidden;
	background:#f2f2f2;
		-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.palyer_Btn{
	float:left;
	text-align:left;
}
.tg-player + .tg-player{margin:10px 0 0;}
.tg-player:hover{
	height:300px;
	background:#313393 url(../images/hockey/bg-pattran.png) no-repeat;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tg-player:hover .tg-playcontent h3 a, .tg-player:hover .tg-playcontent h2{
	color:#fff;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tg-player figure{
	float:left;
	width:100%;
	margin:0;
	padding:10px 0 0;
}
.tg-playcontent .tg-theme-tag{
	float: left;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    position: relative;
    text-align: center;
    background: #313393;
    padding: 2px 10px 2px 10px;
    text-transform: uppercase;
}
.tg-player figure a{ display:block;}
.tg-player figure a img{
	display:block;
	margin:0 auto;
	text-align:center;
}
.tg-playcontent{
	width:100%;
	float:left;
	padding:28px 0;
}
.tg-playcontent h3 a{
	margin-top:15px;
	margin-bottom:12px;
	width:100%;
	float:left;
	font-size:22px;
	text-transform:uppercase;
	line-height:24px;
	color:#111;
	text-align:left;
}
.tg-playcontent h2{
	width:100%;
	float:left;
	font-size:26px;
	font-weight:500;
	line-height:30px;
	color:#313393;
	text-align:left;
}
.tg-playcontent .tg-stars{ margin:0 0 20px;}
.tg-playcontent .tg-description{
	color:#fff;
	float:left;
	width:100%;
	padding:20px 0;
	text-align:left;
}
.tg-socialicons{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.tg-socialicons li{
	float:left;
	margin-left:13px;
}
.tg-socialicons li:first-child{
	margin-left:0px;
}
.tg-socialicons li a{
	float:left;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	border:1px solid #fff;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.tg-socialicons li a:hover{
	background:#fff;
	border:1px solid #fff;
	color:#111;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.best-players-list .item:hover .number, .best-players-list .item:hover .number:before{
	background:#313393;
	color:#fff;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.tg-player:hover .tg-playcontent .tg-theme-tag{
    color: #111;
	background:#fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.best-players-list .item {
    margin-bottom: 13px;
    padding: 11px 77px 11px 77px;
    font-size: 16px;
    color: #fff;
    display: block;
	text-transform:capitalize;
    position: relative;
    background: #111;
    border-left: 2px solid #111;
}
.best-players-list a span{
	text-transform:uppercase;
}
.best-players-list .number {
    width: 45px;
    z-index: 1;
	padding-left:10px;
    font-family: "Open Sans", sans-serif;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3px;
    background: #313131;
    color: #f2f2f2;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.best-players-list .number:before {
    content: '';
    position: absolute;
    width: 20px;
    top: 0;
    right: -8px;
    bottom: 0;
    transform: skew(-10deg);
    background: #313131;
    z-index: -1;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.best-players-list .achievement {
    background: #111;
    color: #ccc;
    z-index: 1;
    width: 35px;
	padding-right:10px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0
}
.best-players-list .item .achievement {
    color: #fff;
    background: #313393
}
.best-players-list .item .achievement:before {
    content: '';
    position: absolute;
    width: 20px;
    top: 0;
    left: -13px;
    bottom: 0;
    transform: skew(-10deg);
    z-index: -1;
    background: #313393
}
.best-players-list .item:first-child {
    margin-bottom: 13px;
    background: #111;
}

.number img {
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 44px;
    object-fit: cover
}
/* media gallery wrapper css */
.portfolio_grid {
  padding-top:100px;
  padding-bottom:70px;
  background:#f2f2f2;
  text-align:center;
}
.head1{
	width:auto;
	float:left;
	display:inline-block;
}
.portfolio_grid .protfoli_filter{
	padding-bottom:25px;
	display:inline-block;
	float:right;
}
.portfolio_grid .protfoli_filter li {
  float: left;
  border:0;
}
.portfolio_grid .protfoli_filter li a {
  color: #111;
  display: inline-block;
  font-size:16px;
  font-weight:500;
  text-transform:uppercase;
  text-align: center;
  padding: 5px 15px;
}
.portfolio_grid .protfoli_filter li:hover a, .portfolio_grid .protfoli_filter li:focus a, .portfolio_grid .protfoli_filter li.active a {
	color: #313393;
  	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.portfolio_grid .portfolio_row .portfoli_right {
  padding: 0;
  padding-left: 45px;
}
.portfolio_grid .portfolio_row .portfoli_inner .portfolio_item {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 19px 0px rgba(215, 215, 215, 0.35);
}
.portfolio_grid .portfolio_row .portfoli_inner .portfolio_item img {
  max-width: 100%;
  transition: all 500ms linear 0s;
}
.portfolio_grid .portfolio_row .portfoli_inner .portfolio_item:hover, .portfolio_grid .portfolio_row .portfoli_inner .portfolio_item:focus {
  box-shadow: 0px 22px 38px 0px rgba(166, 116, 241, 0.35);
}
.portfolio_grid .portfolio_row .portfoli_inner .portfolio_item:hover img, .portfolio_grid .portfolio_row .portfoli_inner .portfolio_item:focus img {
  transform: scale3D(1.2, 1.2, 2);
}
.portfolio_grid .portfolio_item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.portfolio_grid .portfolio_item {
  position: relative;
  overflow: hidden;
}
.portfolio_grid .portfolio_item:before {
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(101, 173, 67, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.portfolio_grid .portfolio_item:after {
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(101, 173, 67, 0.7);
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.portfolio_grid .portfolio_item .portfolio_hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 300ms linear 0s;
}
.portfolio_grid .portfolio_item .portfolio_hover:before {
  content: "";
  width: 50%;
  height: 50%;
 background-color: rgba(101, 173, 67, 0.7);
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.portfolio_grid .portfolio_item .portfolio_hover:after {
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(101, 173, 67, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.portfolio_grid .portfolio_item .portfolio_hover a {
  color: #fff;
  font-size:20px;
  text-transform:capitalize;
  text-align: center;
  position: relative;
  z-index: 1;
}
.portfolio_grid .portfolio_item .portfolio_hover a span {
  font-weight: 400;
  font-size: 18px;
  display: block;
  text-transform:capitalize;
  padding-top: 10px;
  color: #fff;
}
.portfolio_grid  .portfolio_item .portfolio_hover .zoom_popup i:before {
    line-height: 50px;
    font-size: 20px;
	color:#313393;
    font-weight: 500;
}
.portfolio_grid .portfolio_item .portfolio_hover .zoom_popup {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  cursor:pointer;
  display: block;
  position: absolute;
  right: 20px;
  bottom:20px;
  padding: 0;
  z-index:1;
  transition: all 300ms linear 0s;
}
.portfolio_grid .portfolio_item .portfolio_hover .zoom_popup i:before {
  line-height: 45px;
  font-size: 18px;
}
.portfolio_grid .portfolio_item .portfolio_hover .zoom_popup:hover, .portfolio_grid .portfolio_item .portfolio_hover .zoom_popup:focus {
  background: #fff;
  color: #fff;
}
.portfolio_item img{
	width:100%;
}
.portfolio_grid .portfolio_item:hover:before, .portfolio_grid .portfolio_item:focus:before {
  left: 50%;
  opacity: 1;
  z-index: 1;
}
.portfolio_grid .portfolio_item:hover:after, .portfolio_grid .portfolio_item:focus:after {
  top: 0;
  opacity: 1;
}
.portfolio_grid .portfolio_item:hover .portfolio_hover, .portfolio_grid .portfolio_item:focus .portfolio_hover {
  opacity: 1;
}
.portfolio_grid .portfolio_item:hover .portfolio_hover:before, .portfolio_grid  .portfolio_item:focus .portfolio_hover:before {
  top: 50%;
  opacity: 1;
}
.portfolio_grid .portfolio_item:hover .portfolio_hover:after, .portfolio_grid .portfolio_item:focus .portfolio_hover:after {
  left: 0;
  opacity: 1;
}
/* counter wrapper css */
.counter_section{
	background:#fff;
    padding-top:80px;
	padding-bottom:80px;
}
.heading_special{
	display:inline-block;
	float:left;
	width:auto;
}
.count-description span {
    font-size: 36px;
    font-weight: 600;
    color: #111;
	margin-right:5px;
    margin-top: 20px;
}
.count-description {
    font-size: 34px;
    font-weight: 700;
    color: #111;
}
.icon i:before {
    font-size: 60px !important;
    text-align: center;
    color: #313393;
	line-height:70px;
}
.tb_icon {
    display:inline-block;
    width: 75px;
	height:75px;
	line-height:75px;
}
.counter_cntnt_box {
	text-align:center;
}
.count-description {
	width: 100%;
    float: left;
    text-align: center;
    z-index: 10;
    position: relative;
    margin-top: 35px;
}
.con1, .con2, .con3, .con4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 15px;
	color:#111;
}
.count-description:after {
    content: '';
    position: absolute;
    left: 0;
    top:-25px;
	right:0;
	margin:0px auto;
    height: 2px;
    background: #313393;
    width: 100px;
}
.counter_wrapper{
	 float: left;
    width: 100%;
    padding-bottom: 110px;
    padding-top: 120px;
	background:#f9f9f9;
	overflow:hidden;
}
.con_1, .tb_abt_count_txt{
	color:#fff;
}
/* latest news */
.latest_news_wraper{
	padding-top:90px;
	padding-bottom:50px;
	background:#f2f2f2;
}
.ne_recent_left_side_wrapper, .ne_recent_right_side_wrapper  {
	position:relative;
}
.ne_re_left_bottom_main_wrapper{
	float:left;
	width:100%;
	background:#fff;
	margin-bottom:50px;
	position:relative;
}
.ne_re_bottom_img{
	float:left;
	width:470px;
	position:relative;
}
.ne_re_bottom_img img{
	width:100%;
}
.ne_re_bottom_img_cont{
	float:left;
	width:calc(100% - 470px);
	padding:30px;
	padding-right:80px;
	padding-bottom:0;
}
.ne_re_bottom_img_cont p {
	font-size:16px;
	text-transform:capitalize;
	float:left;
	width:100%;
	padding-top:10px;
	padding-bottom:15px;
}
.ne_re_bottom_img_cont p i{
	color:#313393;
	margin-right:10px;
}
.cntnt_pp{
	color:#797979;
}
.ne_re_bottom_img_cont h2{
	text-transform:uppercase;
	font-size:18px;
	color:#e91712;
	float:right;
	position:absolute;
	right:30px;
}
.ne_re_bottom_img_cont h1{
	font-size:24px;
	text-transform:uppercase;
	color:#111;
	float:left;
	padding-top:0;
}
.news_top_icon{
	position:absolute;
	color:#fff;
	width:40px;
	left:10px;
	top:10px;
	text-align:center;
	height:30px;
	line-height:30px;
	background:#4a67b0;
}
.news_bottom_text{
	padding-top:45px;
}
.news_btn{
	padding-top:0;
}
.news_btn li a{
	background:#002398;
	color:#fff;
	width:140px;
	height:45px;
	font-weight:400;
	line-height:45px;
}
.news_btn li a:after{
	background:#ffffff !important;
}
.news_text_center p{
	text-align:center;
	color:#111;
	font-weight:500;
	font-size:16px;
}
.news_text_left{
	width:18%;
	float:left;
}
.news_text_center, .news_text_right{
	float:left;
	width:40%;
}
.lest_news_date_wrapper{
   width: 60px;
    height: 55px;
    background:#313393;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
	color:#fff;
	text-transform:capitalize;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	z-index:10;
}
.lest_news_date_wrapper ul{
	padding-top:6px;
}
.lest_news_date_wrapper li:first-child{
	font-size:25px;
	font-weight:500;
}
.lest_news_date_wrapper li:last-child{
	font-size:16px;
}
.news_btm_cntnt{
	position:absolute;
	bottom: 0;
	padding:10px;
	height:50px;
	padding-top:8px;
	line-height:35px;
    background: rgba(74, 103, 176, 0.79);
}
.news_btm_cntnt img{
	float:left;
	display:inline-block;
}
.pd-2{
	margin-top:30px;
	float:left;
	width:100%;
}
.news_overlay{
	position:absolute;
	top:200px;
	right:200px;
	left:200px;
	bottom:200px;
	background:rgba(0,0,0,0.06);
	opacity:0;
	-webkit-transition:all 0.55s linear;
    -moz-transition:all 0.55s linear;
    -ms-transition:all 0.55s linear;
    -o-transition:all 0.55s linear;
    transition:all 0.55s linear;
}
.ne_re_left_bottom_main_wrapper:hover .news_overlay{
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:rgba(101, 173, 67, 0.7);
	opacity:1;
	-webkit-transition:all 0.35s linear;
    -moz-transition:all 0.35s linear;
    -ms-transition:all 0.35s linear;
    -o-transition:all 0.35s linear;
    transition:all 0.35s linear;
}
.ne_re_left_bottom_main_wrapper:hover .lest_news_date_wrapper{
	background:#fff;
	color:#313393;
	transition: all 0.5s;
}
/* official store css */
.official_store{
	padding-top:90px;
	padding-bottom:100px;
	background:#fff;
	margin-bottom: 660px;
}
.tab_online {
    float: right;
    display: inline-block;
}
.pdtpp{
	padding-bottom:100px;
}
.x_offer_car_main_wrapper{
	background:#f9f9f9;
}
.x_offer_car_heading_wrapper{
	text-align:center;
}
.x_offer_car_heading_wrapper h4{
	font-size:14px;
	font-family: 'Lato', sans-serif;
	color:#4f5dec;
	text-transform:uppercase;
}
.x_offer_car_heading_wrapper h3{
	font-size:30px;
	font-weight:800;
	text-transform:uppercase;
	padding-top:20px;
	position:relative;
}
.x_offer_car_heading_wrapper h3:after{
	content:'';
	position:absolute;
	width:30px;
	border:2px solid #4f5dec; 
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	left:0;
	right:0;
	bottom:-20px;
	margin:0px auto;
}
.x_offer_car_heading_wrapper p{
	padding-top:40px;
}
.x_offer_tabs_wrapper{
	text-align:center;
	margin-top:-10px;
}
.x_offer_tabs_wrapper h2{
	font-size:26px;
	color:#111111;
	font-weight:600;
	display:inline-block;
}
.x_offer_tabs_wrapper .nav{
	margin-bottom:25px;
    display: inline-block;
	border-bottom:0;
}
.x_offer_tabs_wrapper .nav-tabs .nav-link:focus, .x_offer_tabs_wrapper .nav-tabs .nav-link:hover{
	border-color:transparent;
}
.x_offer_tabs_wrapper .nav li{
	float:left;
	border:0;
	border-left:0;
}
.x_offer_tabs_wrapper .nav-tabs .nav-item.show .nav-link, .x_offer_tabs_wrapper .nav-tabs .nav-link.active {
    color: #313393;
	border-radius:0;
	border:0;
	background:transparent;
}
.x_offer_tabs_wrapper .nav-tabs .nav-link{
	font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;
	border:0;
}
.offer_main_boxes_wrapper{
	background:#f2f2f2;
	padding:20px;
	border:1px solid transparent;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.offer_main_boxes_wrapper:hover{
	border:1px solid #313393;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hvr-wobble-horizontal{
    display: inline-block;
    vertical-align: middle;
}
@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
.hvr-wobble-horizontal {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0)
}
.hvr-wobble-horizontal:active,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:hover {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}
.cart_btn_shop:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 17px;
    margin: 0px auto;
    border: 1px solid #e6e6e6;
}
.football_offer_starts{
	width:50px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	text-transform:capitalize;
	background:#313393;
}
.ft_offer_img{
	text-align:center;
}
.btn_rsss {
	text-align:center;
	padding-top:10px;
}
.btn_rsss li a{
	width:140px;
	height:45px;
	line-height:45px;	
}
.btn_rsss ul{
	display:inline-block;
}
.ft_offer_heading{
	text-align:center;
}
.ft_offer_heading h2{
	padding-top:15px;
	padding-bottom:10px;
}
.ft_offer_heading h2 a{
	font-size:20px;
	color:#111;
	font-weight:500;
	text-transform:capitalize;
}
.offer_main_boxes_wrapper:hover .ft_offer_heading h2 a{
	color:#313393;
}
.offer_main_boxes_wrapper:hover .football_offer_starts{
	background:#fff;
	color:#313393;
		-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.cart_btn_shop{
	padding-top:40px;
	position:relative;
	padding-bottom:5px;
}
.ft_offer_heading p{
	font-size:18px;	
	color:#111;
	font-weight:500;
}
.ft_offer_heading p del{
	font-size:16px;
	padding-left:10px;
	color:#313393;
}
.x_tabs_botton_wrapper li a i {
    font-size: 12px;
    position: relative;
    left: 5px;
    top: -1px;
}
.x_tabs_botton_wrapper li a:hover {
    background: transparent;
    border: 1px solid #4f5dec;
    color: #4f5dec;
}
.online_btn{
	top:40px;
}
/* newsletter wraper css */
.news_letter_wrapper{
	padding-top:40px;
	padding-bottom: 40px;
	padding-left:30px;
	padding-right:20px;
	background:#313393;
}
.lr_nl_heading_wrapper{
	float:left;
	width:50%;
}
.lr_nl_heading_wrapper h2{
	font-size:34px;
	color:#fff;
	font-weight:600;
	text-transform:capitalize;
}
.lr_nl_heading_wrapper p{
	color:#fff;
	padding-top:5px;
}
.lr_nl_form_wrapper{
	float:left;
	width:50%;
	margin-top:8px;
}
.about_wrappper {
	background:#fff;
}
.lr_nl_form_wrapper input{
	float:left;
	width:calc(100% - 180px);
	height:50px;
	border:1px solid rgba(255, 255, 255, 0.7);
	background:transparent;
	color:#ffffff;
	padding-left:20px;
	border-right:0;
	position: relative;
}
.lr_nl_form_wrapper button{
	width:170px;
	height:50px;
	float:left;
	background:#fff;
	border:1px solid #fff;
	color:#313393;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:700;
	cursor:pointer;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.lr_nl_form_wrapper button:hover{
	background:#ffffff;
	color:#000000;
	border:1px solid #fff;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.lr_nl_form_wrapper input::-webkit-input-placeholder {
	color: #fff;
}
.lr_nl_form_wrapper input::-moz-placeholder {
	color: #fff;
}
.lr_nl_form_wrapper input:-ms-input-placeholder {
	color: #fff;
}
.lr_nl_form_wrapper input:-moz-placeholder {
	color: #fff;
}
.news_section{
	float:left;
	width:100%;
	position:absolute;
	z-index:1;
	top:-80px;
}
/****-----------footer wrapper css------------********/
.footer_wrapper {
	position:fixed;
	bottom:0;
	z-index:-1;
	margin-top:-60px;
}
.section_2 {
    width: 100%;
    float: left;
    background-image: url(../images/chess/foter_bg.jpg);
    height: 100%;
	background-position: center 0; 
    background-size: cover;
    position: relative;
    padding-top: 170px;
}
.section2_footer_overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(29, 29, 29, 0.85);
}
.section2_footer_wrapper {
    float: left;
    width: 100%;
}
.tb_foter_left {
    float: left;
    width: 100%;
    text-align:center;
}
.section2_about_wrapper,
.wrapper_second_useful,
.wrapper_second_blog {
    float: left;
    width: 100%;
}
.section2_footer_wrapper {
	padding-bottom:90px;
}
.section2_footer_wrapper h4 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 32px;
	font-weight:500;
    text-transform: uppercase;
    color: #313393;
}
.wrapper_first_image{
	margin-top:-12px;
}
.abotus_content {
    float: left;
    width: 100%;
}
.abotus_content {
    padding-bottom: 25px;
    padding-top: 15px;
}
.abotus_content p {
    font-size: 16px;
    color: #ececec;
}
.aboutus_social_icons {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section2_about_wrapper a{
	color:#313393;
	font-size: 16px;
    line-height: 26px;
}
.section2_useful_wrapper ul li {
    margin-bottom: 13px;
}
.section2_useful_wrapper ul li i {
    color: #ececec;
    margin-right: 20px;
    font-size: 16px;
}
.section2_useful_wrapper ul li a {
    color: #ececec;
    font-size: 16px;
    text-transform: capitalize;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.section2_useful_wrapper ul li a:hover {
    color: #313393;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btm_foter_box {
    float: left;
    width: 100%;
    padding-top: 20px;
	text-align:center;
    padding-bottom: 15px;
}
.ft_blog_wrapper1,
.ft_blog_wrapper2 {
    float: left;
    width: 100%;
}
.ft_blog_wrapper1 {
    padding-bottom: 20px;
}
.ft_blog_date {
	font-size: 14px;
    color: #bbbbbb;
	margin-top:5px;
}
.ft_blog_image {
    float: left;
    width: 90px;
}
.ft_blog_text {
    font-size: 14px;
    font-weight: 500;
    float: left;
    width: calc(100% - 90px);
    padding-left: 10px;
}
.ft_blog_text h5 a {
    font-size: 16px;
    color: #ececec;
    font-weight: 500;
	line-height:20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.ft_blog_text h5 a:hover {
    color: #313393;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.section2_bottom_wrapper {
    float: left;
    width: 100%;
	position:relative;
	background:#000;
}
.footer_btn_wrapper {
    float: right;
}
.foter_contact_nav ul li a p {
    color: #fff;
    text-transform: lowercase !important;
}
.foter_contact_nav ul li a p:hover {
    color: #ffef2b;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.section2_useful_second_wrapper ul li {
    margin-bottom: 23px;
	color:#ececec;
    font-size: 16px;
}
.section2_useful_second_wrapper ul li i {
    font-size: 18px;
	color: #ececec;
    margin-right: 20px;
}
.section2_useful_second_wrapper ul li a {
    color: #ececec;
    font-size: 16px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.section2_useful_second_wrapper ul li a:hover {
    color: #313393;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btm_foter_box p{
	float:left;
	color:#fff;
	font-size:16px;
	margin-top:5px;
	text-transform:capitalize;
}
.btm_foter_box p a{
	color: #fff;
	margin-left:2px;
}
.aboutus_social_icons{
	float:right;
	margin:0;
	padding:0;
	list-style:none;
}
.aboutus_social_icons li{
	float:left;
	margin-left:13px;
}
.aboutus_social_icons li:first-child{
	margin-left:0px;
}
.aboutus_social_icons li a{
	float:left;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	border:1px solid rgba(255, 255, 255, 0.3);
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.aboutus_social_icons li a:hover{
	background:#313393;
	border:1px solid #313393;
	color:#fff;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.sidebar_btm_txt{
	position:absolute;
	left:0;
	right:0;
	margin:0px auto;
	z-index:1;
	bottom:40px;
}
.sidebar_btm_txt p, .sidebar_btm_txt p a{
	color:#111;
	float:none;
	text-align:center;
}
.sidebar_btm_txt .aboutus_social_icons{
	float:none;
	display:inline-block;
}
.sidebar_btm_txt .aboutus_social_icons li a{
	background:#111;
	border:1px solid #111;
	box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.2);
}
.sidebar_btm_txt .aboutus_social_icons li a:hover{
	background:#ffef2b;
	border:1px solid #ffef2b;
	box-shadow:none;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
/*****---------- footer css end-----****/
/*****-----floating button css-----*****/
.adminActions {
  position: relative;
}
 .adminButton {
    height: 40px;
    width: 45px;
    background-color: #313393;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
	box-shadow:0px 3px 15px 0 rgba(0, 0, 0, 0.06)
 }
.adminButton i {
      font-size: 18px;
}
.adminButtons {
    position: absolute;
    width: auto;
    bottom: 120%;
    text-align: center;
}
.adminButtons a {
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      text-decoration: none;
      margin: 10px auto 0;
      line-height: 1.15;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      position: relative;
      box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
}
.adminButtons a:hover {
    transform: scale(1.05);
 }

.adminButtons a:nth-child(1) {background-color: #1d6ce2; transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;}
.adminButtons a:nth-child(2) {background-color: #58b6e0; transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;}
.adminButtons a:nth-child(3) {background-color: #f44336; transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;}
.adminButtons a:nth-child(4) {background-color: #4CAF50; transition: opacity .2s ease-in-out .15s, transform .15s ease-in-out;}
.adminActions a i {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.adminToggle {
    -webkit-appearance: none;
    position: absolute;
    border-radius: 50%;
    top: 0; left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    transition: box-shadow .2s ease-in-out;
}
.adminActions a:hover{
	color:#fff;
}
.adminToggle:checked ~ .adminButtons a {
   opacity: 1;
   visibility: visible;
}
/******-----dropdown common css -----*****/
.menu_wrapper_2 .common_dropdown_wrapper {
	position:relative;
}
.menu_wrapper_2 li ul{
	position:absolute;
	right:-150px;
	top:0;
	width:150px;
	opacity:0;
	visibility:hidden;
	background:#fff;
	margin-right:-15px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.common_dropdown_wrapper a i{
	font-size: 16px;
    color: #111;
    position: absolute;
    top: 18px;
    right: 18px;
}
.menu_wrapper_2 li a:hover i{
	color:#fff;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.menu_wrapper_2 li:hover ul{
	opacity:1;
	visibility:visible;
	margin-right:0;
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.menu_wrapper_2 > li:hover > a{
    opacity: 1;
	color: #fff !important;
	background:#313393;
}
.menu_wrapper_2 > li:hover > a i{
	color:#fff;
}
.menu_wrapper_2 .common_dropdown_wrapper ul li:first-child a:hover {
	border-top-right-radius:10px;
}
.menu_wrapper_2 .common_dropdown_wrapper ul li:last-child a:hover {
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
.uranus.tparrows:before{
	color:#fff !important;
}
.menu_wrapper_resp > li:hover > a{
    opacity: 1;
	color: #313393 !important;
	background:#fff;
}
.menu_wrapper_resp > li:hover > a i{
	color:#313393;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color:#313393 !important;
	color:white !important;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{		border-color:transparent transparent #fff !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent !important;
}
.awerer{
	float:left;
	width:100%;
	text-align:center;
}
/****-------responsive css ---------***/
@media (max-width: 1700px){
	.next_match_wrapper{
		margin-top:0;
	}
	.ticket_slider  {
		background:#f2f2f2;
		padding-top:100px;
		position:relative;
	}
}
@media (max-width: 1300px){
	
}
@media (max-width: 1199px) and (min-width: 991px){
	.menu_main_wrapper {
		left:55px;
	}
	.tg-upcomingmatch .tg-matchdetail .tg-box h3{
		font-size:18px;
	}
	.tg-btnbox .match_btn ul li{
		padding:4px;
	}
	.ne_re_bottom_img_cont p{
		padding-bottom:0;
	}
	.news_text_right{
		padding-left:15px;
	}
	.tg-matchhover{
		padding:36px 16px 26px 16px;
	}
	.next_box .tg-teamlogo2{
		padding-right:0;
	}
	.tg-matchhover address{
		margin:0;
	}
	.ne_re_bottom_img_cont{
		padding-right:60px;
	}
	.pd1 {
		margin-bottom: 30px;
	}
	.official_store {
		margin-bottom:698px;
	}
	.next_box_green h4{
		font-size:16px !important;
	}
	.next_box{
		padding:19px;
	}
	.next_box h3{
		line-height:76px !important;
	}
	
}
@media (max-width: 991px){
	.ft_right_wrapper{
		width:50%;
	}
	.ft_logo_wrapper{
		width:50%;
		padding-top:0;
	}
	.upcoming_games_wrapper{
		margin-top:0;
		padding-top:100px;
	}
	.upcoming_match_img {
		padding-bottom:60px;
	}
	.carousel-nevigation{
		bottom:90px;
	}
	.match_list_img h4{
		padding-right:0;
	}
	.pddddd{
		padding-bottom:40px;
	}
	.match_list_img h4{
		font-size:18px;
	}
	.ft_right_wrapper li{
		padding-left:25px;
	}
	.counter_section {
		padding-bottom: 40px;
	}
	.next_macth_pader{
		padding:0;
	}
	.playboard_wrapper  img{
		width:100%;
	}
	.portfolio_grid .protfoli_filter li a{
		padding:5px 13px;
	}
	.upcoming_match_img {
		padding-top:40px;
	}
	.tg-players{
		padding-bottom:50px;
	}
	.ne_re_bottom_img{
		width:100%;
	}
	.ne_re_bottom_img_cont{
		width:100%;
		padding-bottom:30px;
	}
	.lr_nl_heading_wrapper h2 {
		font-size: 30px;
	}
	.news_letter_wrapper {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.lr_nl_form_wrapper {
		width: 100%;
		padding-top: 10px;
	}
	.lr_nl_heading_wrapper {
		width: 100%;
		text-align: center;
	}
	.official_store {
		margin-bottom: 1030px;
	}
	.ne_re_bottom_img img{
		width:100%;
	}
	.forcefullwidth_wrapper_tp_banner, #rev_slider_149_1_wrapper, #rev_slider_149_1 {
		height: 900px !important;
	}
	.section2_footer_wrapper {
		padding-bottom: 70px;
	}
	.section2_useful_wrapper, .section2_useful_second_wrapper {
		padding-top: 40px;
	}
}
@media(min-width: 768px) and (max-width: 990px){
	.pd1 {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px){
	 .tg-upcomingmatch .tg-matchdetail .tg-box h3{
		 font-size:16px;
	 }
	 .tg-matchhover{
		 padding:31px 14px 24px 14px;
	 }
	 .match_btn .btn2 {
		display:none;
	}
	.portfolio_grid .protfoli_filter, .tab_online{
		float:left;
		margin-top:-14px;
	}
	.x_offer_tabs_wrapper .nav{
		margin-bottom:0;
	}
	.pd2 {
		margin-bottom: 30px;
	}
	.pd1 {
		margin-bottom: 30px;
	}
	.next_match_count{
		padding-top:10px;
	}
	.match_list_img img, .match_wraper_2 .match_list_img img{
		float:none;
		text-align:center;
	}
	.forcefullwidth_wrapper_tp_banner, #rev_slider_149_1_wrapper, #rev_slider_149_1 {
		height: 800px !important;
	}
	.next_box{
		width:100% !important;
	}
	.next_box_green{
		width:100% !important;
	}
	.next_box .tg-teamlogo2{
		float:none;
	}
	.next_box_green{
		padding:25px;
	}
	.match_list_img h4{
		margin-top:0;
		line-height:30px;
	}
	#clockdiv > div{
		margin:0;
		font-size:40px;
	}
	.upcoming_matches_wrapper .versus h2{
		font-size:16px;
		line-height:22px;
	}
	.upcoming_matches_wrapper .versus{
		padding-top:30px;
	}
	.upcoming_matches_wrapper .versus h1{
		padding-top:5px;
		padding-bottom:5px;
	}
	.footer_wrapper {
		position: relative;
		z-index: 1;
	}
	.official_store{
		margin-bottom:0;
		padding-bottom:235px;
	}
	.lr_nl_heading_wrapper p {
		display: none;
	}
	.news_letter_wrapper {
		padding-top: 35px;
	}
}

@media (max-width: 580px){
	.text_effect{
		display:none;
	}
	.dropdown-wrapper .drop-menu {
		width: 310px;
	}
	.hs_navi_cart_wrapper .drop-menu{
		right:-25px;
	}
	.ft_right_wrapper{
		padding-right:0;
	}
	.ft_logo_wrapper{
		padding-left:20px;
	}
	.text_effect{
		display:none;
	}
	.btm_foter_box p {
		float: left;
		width: 100%;
	}
	.aboutus_social_icons {
		float: none;
		display: inline-block;
		padding-top: 10px;
	}
	.forcefullwidth_wrapper_tp_banner, #rev_slider_149_1_wrapper{
		height: 700px !important;
	}
		
}
@media (max-width: 575px){
	.tg-upcomingmatch .tg-matchdetail .tg-box h3 {
		font-size: 16px;
	}
	.tg-player:hover {
		height: 472px;
	}
	.section2_blog_wrapper {
		padding-top: 30px;
	}
	.next_match_btn{
		padding:20px 0 30px 0;
	}
	.news_bottom_text{
		padding-top:20px;
	}
	.news_btn{
		padding:0;
	}
	.ne_re_bottom_img_cont{
		padding-right:20px;
	}
}

@media (max-width: 480px){
	.lr_banner_content_inner_wrapper h2{
		font-size:54px;
	}
	.carousel-nevigation {
		bottom: 77px;
		right: 223px;
	}
	.tg-upcomingmatch .tg-match .tg-box:last-child, .tg-upcomingmatch .tg-match .tg-box:first-child{
		width:100%;
		text-align:center;
	}
	.tg-upcomingmatch .tg-match .tg-box {
		width: 100%;
	}
	.tg-teamlogo, .tg-teamlogo2{
		display:inline-block;
		float:none;
		padding-left:0;
	}
	.tg-player:hover {
		height: 472px;
	}
	.btn2{
		margin-bottom:17px;
	}
	.tg-matchhover {
		padding:28px 14px 23px 14px;
	}
	.tg-upcomingmatch .tg-box h4 {
		width: 35px;
		height: 35px;
		margin-top:0;
		line-height: 35px;
		font-size: 18px;
	}
	.tg-matchhover address{
		width:100%;
		text-align:center;
	}
	.tg-teamlogo2{
		padding-right:10px;
	}
	.news_text_left{
		width:100%;
	}
	.lr_nl_heading_wrapper h2{
		text-align:left;
	}
	.news_text_center{
		width:100%;
	}
	.news_text_center p, .news_btn{
		text-align:left;
	}
	.section_2{
		padding-top:100px;
	}
	.news_text_right{
		width:100%;
	}
	.news_btn{
		float:left;
	}
	.tg-upcomingmatch .tg-matchdetail .tg-box h3{
		display:inline-block;
	}
	.match_btn .btn2{
		display:block;
	}
	.lr_nl_form_wrapper input {
		width: 100%;
		border-right: 1px solid rgba(255, 255, 255, 0.7);
	}
	.tg-teamlogo img, .tg-teamlogo2 img{
		width:60px;
	}
	.lr_nl_form_wrapper button {
		margin-top: 20px;
	}
	.tg-matchhover .tg-btnbox{
		float:left;
		width:100%;
	}
	.official_store{
		padding-bottom:140px;
	}
	.news_section {
		position: relative;
		margin-top: 0;
		top: 0;
		background:#313393;
	}
	.tg-btnbox .match_btn ul li{
		float:none;
	}
	#clockdiv > div {
		width: 80px;
		font-size:34px;
	}
	.smalltext{
		font-size:14px;
	}
	.btnnww {
		float: left;
		padding-bottom: 5px;
		padding-top: 10px;
	}
}
@media (max-width: 440px){
	#clockdiv > div {
		width: 60px;
	}
	.smalltext {
		font-size: 12px;
	}
	.ne_re_bottom_img_cont h1 {
		font-size: 20px;
	}
	.menu_wrapper_2 li ul{
		right: -140px;
		width: 140px;
	}
}
@media (max-width: 380px){
	.resp_logo_wrapper, .menu_wrapper{
		width:142px;
	}
	.ft_logo_wrapper{
		padding-left:15px;
	}
	.hs_btn_wrapper li a{
		width:120px;
	}
	.ft_right_wrapper{
		padding-right:10px;
	}
	.slider_btn li a {
		width:170px;
	}
	#clockdiv > div {
		width: 60px;
	}
	.carousel-nevigation {
		bottom: 77px;
		right: 187px;
	}
	.match_list_img h4{
		font-size:16px;
		line-height:30px;
	}
	.next_match_wrapper{
		padding:20px;
	}
	.new a span{
		font-size:16px;
	}
	.match_list_img img{
		width:60px;
	}
	.new{
		height:40px;
		line-height:40px;
		width:40px;
	}
	.ne_re_bottom_img_cont h2{
		display:none;
	}
	.smalltext {
		font-size: 12px;
	}
	.tg-matchhover {
		padding: 22px 14px 20px 14px;
	}
	.btnnww{
		padding-top:0;
	}
	.ne_re_bottom_img_cont h1{
		font-size:20px;
	
	font}
	.spp_btn_wrapper li a{
		font-size:14px !important;
	}
}
@media (max-width: 320px){
	
	
}