.login-box, .register-box{
margin: 0% 0% 3% 0%;
width:auto;
}

 .footerpglinks center	{
	display: inline-block;
} 

.footerpglinks a{
	float: right;
}

.algnright{
	text-align: right;
}

.register-box{
	width:100%;
}

.jsize input{
display: inline-block;
	width: 25%;}

.main-header .navbar .nav .open > a{
background-color: #56585d !important;
}

.login-page .main-footer, .register-page .main-footer{
	margin-left:0px;
}

.logoimg{
	width:25%;
	display:block;
}


.navbar-custom-menu{
	display: inline-block !important;
position: initial !important;
}

/* .rightmenu .open .dropdown-menu{
	position: inherit !important;
} */


.vieworder .box{
padding:0px;
}

.vieworder .form-group{
	padding-left:5px;
	padding-right:5px;
}

.mysubmenu2 i{
	font-size:10px;
}

.mainmenu, .usermainmenu{
	padding-left:30px;
}

#myorderdet .table-responsive{
	float:right;
}

.mainorder table{
	text-align:center;
}

.homeimg{
width:19%;
border: 12px double #8c8c8c;	
}


.logoimg{
	width:6%;
}

.logoname{
	display:inline-block;
	margin-top:0px;
	font-size: 22px;
}

.centerdata{
	text-align:center;
}


.viewplayerphoto img,.viewpayphoto img{
	max-width:200px;
}


.player_name{
	font-size: 25px;
}

.player_dist{
	text-transform: capitalize;
}

.headlabel{
	
text-transform: uppercase;
font-size: 17px;
display: inline-block;
color: #959494;	
line-height: 1.5em;
}	


.datafld
{
	display: inline-block;
	font-size: 16px;
	line-height: 1.5em;
}

.player_idno{
	font-size: 18px;
}

.bgdiv{
	background-image:url('../../images/chess1.jpg');
	background-repeat: no-repeat;
background-size: cover;
}

/*id card css*/
.idbodyborder{
 border: 15px solid #50a7ae;
padding: 10px;
margin: 20px auto;
background-color: #fff;
}


#idModal .logo img
{
    width:130px;
}

.idbody .title
{
    font-size: 22px;
color: #191c86;
font-weight: 600;
}

.idplayerphoto img
{
    border-radius:12px;
    width: 127px;
    height: 148px;
    display:block;
}

.idplydata p
{
    margin: 0 0 15px 0;
line-height: 1.5;
}

.idplydata
{
    font-weight: 600;
}

.idrow1 .r
{
     padding-left: 16px;   
}

.signatr
{
display: block;
position: absolute;
bottom: 16%;
right: 7%;
width: 147px;
}

.signatr img
{
    width:100%;
}


.logo, .chsdata,.idplayerphoto 
{
    text-align:center;
}



/*****************************************/
@media only screen and (min-width: 650px){
	.headlabel{
		width: 25%;
	}
	
}
@media only screen and (max-width: 991px){

/*login page*/

 .footerpglinks center	{
	display: block;
} 

.footerpglinks span{
	display: none;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu{
	right:0%;
}

.signatr
{
    right: 0.5%;
}

}

@media only screen and (max-width: 350px)
{
    .signatr
    {
        bottom: -6%;
    width: 121px;
    }
}